*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-head-table: #1565c0;
  --color-border-table: var(--color-head-table);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: white;
}

body {
  block-size: 100vb;
  align-content: center;
}

products-component::part(products) {
  box-sizing: border-box;
  margin: auto;
}
